.float-right {
    float: right;
}

mat-card {
    padding: 20px;
}

table {
    width: 100%;
}

::ng-deep .highlight {
    color: white;
    background: #671AB7;
}
.mat-header-cell{
    font-size: 20px;
    color:#CD5C5C;
    font-weight: 700;
}
.mat-cell{
    color:#141414;
    font-size: 16px;
    font-weight: 500;
}
